<%- partial('_inc/layout/header', { meta: {} }) %>

<section class="hero">
	<div class="hero__wrapper">
		<div class="container">
			<h1 class="h--no-spacing">404</h1>
			<h4 class="h--weight-light">We weren't able to find what you're looking for.</h4>
			<p class="p--big">But no worries, we have plenty other stuff for you to enjoy. Start discovering!</p>
			<a href="/" class="btn" title="Back to the homepage">Back to the homepage</a>
		</div>
	</div>
</section>

<%- partial('_inc/layout/footer') %>