<%- layout('_inc/layout') %>

<section class="hero">
	<div class="hero__wrapper">
		<div class="container">
			<h1 class="h--no-spacing">Robert van Haaren</h1>
			<h3 class="h--weight-light">An ambitious interaction <u>designer</u> based in Amsterdam</h3>
			<ul class="list--inline">
				<li><a href="mailto:robert@duxilio.com">robert@duxilio.com</a></li>
				<li><a href="tel:+31624877533">+31 6 24 87 75 33</a></li>
			</ul>
		</div>
	</div>
</section>