<%- layout('_inc/layout') %>

<section class="hero">
	<div class="hero__wrapper">
		<div class="container">
			<h1 class="h--no-spacing">Robert van Haaren</h1>
			<h3 class="h--weight-light">An ambitious <u>interaction designer</u> based in Amsterdam</h3>
			<ul class="list--inline">
				<li><a href="mailto:robert@duxilio.com">robert@duxilio.com</a></li>
				<li><a href="tel:+31624877533">+31 6 24 87 75 33</a></li>
			</ul>
		</div>
	</div>
</section>

<%- partial('_inc/feature', {
		deviceType: 'iphone',
		imgSrc: 'iphone-blackdove.png',
		title: 'Blackdove',
		subTitle: 'Bringing Motion Art To Every Home',
		reversed: false
	}) %>

<%- partial('_inc/feature', {
		deviceType: 'laptop',
		imgSrc: 'macbooks-calcium.png',
		title: 'Calcium',
		subTitle: 'Customer friendly CMS',
		reversed: true
	}) %>