<footer class="mastfoot">
	<div class="text-center">
		<div class="social">
			<div class="social-logos">
				<a href="https://dribbble.com/RobertvanHaaren" target="_blank">
					<img class="transition-opacity" src="/www/img/social/dribbble.svg" alt="dribbble social icon">
				</a>
				<a href="https://www.linkedin.com/in/robertvanhaaren/" target="_blank">
					<img class="transition-opacity" src="/www/img/social/linkedIn.svg" alt="linkedin social icon">
				</a>
				<%- partial('logo') %>
				<a href="https://angel.co/robert-van-haaren" target="_blank">
					<img class="transition-opacity" src="/www/img/social/angelco.svg" alt="">
				</a>
				<a href="https://creativemarket.com/RobertvanHaaren" target="_blank">
					<img class="transition-opacity" src="/www/img/social/creativemarket.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<small>Robert van Haaren <%= new Date().getFullYear() %><br>All food reserved</small>
</footer>

<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<script>
if ('loading' in HTMLImageElement.prototype) { 
  for (const image of document.images) {
    if (image.hasAttribute('data-src')) {
      image.src = image.getAttribute('src');
    }
  }
} else {
  const images = document.querySelectorAll('[loading="lazy"]');
  const observer = new IntersectionObserver((entries) => {
    for (const {intersectionRatio, target} of entries) {
      if (intersectionRatio <= 0) {
        continue;
      }
      observer.unobserve(target, {
        threshold: [0, 0.2, 0.5, 1],
      });
      target.src = target.getAttribute('data-src');
    }
  });
  images.forEach(image => {
    observer.observe(image);
  });
}
</script>
