<div class="showcase">
  <a class="showcase-item codecov-showcase" href="/work/codecov">
    <img src="/www/img/showcase/logo-codecov.svg" alt="Codecov logo">
    <p>Code coverage is one of the most important metrics companies rely on to ship healthier code, faster, and with less risk.</p>
    <p>
      <strong>Project Date:</strong> 2019 - 2022
      <br />
      <strong>Design:</strong> UI / UX / Marketing
      <br />
      <strong>Location:</strong> San Fransicso (CA) US
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item ngrok-showcase" href="/work/ngrok">
    <img src="/www/img/showcase/logo-ngrok.svg" alt="Codecov logo">
    <p>
      The programmable network edge that adds connectivity, security, and observability to your apps with no code changes.
    </p>
    <p>
      <strong>Project Date:</strong> 2021-2022
      <br />
      <strong>Design:</strong> Marketing
      <br />
      <strong>Location:</strong> San Diego (CA), US
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item blueprinttitle-showcase" href="/work/Blueprint Title">
    <img src="/www/img/showcase/logo-blueprinttitle.svg" alt="Codecov logo">
    <p>
      Bringing great ease to the real estate closing process through innovative technology, consistent processing, and competitive pricing.
    </p>
    <p>
      <strong>Project Date:</strong> 2021
      <br />
      <strong>Design:</strong> Branding
      <br />
      <strong>Location:</strong> Nashville (TN), US
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item supergrain-showcase" href="/work/supergrain">
    <img src="/www/img/showcase/logo-supergrain.svg" alt="Codecov logo">
    <p>
      Customer engagement built on your data warehouse. Connect data, create rich segments, and engage customers across any channel.
    </p>
    <p>
      <strong>Project Date:</strong> 2021
      <br />
      <strong>Design:</strong> Logo, Product
      <br />
      <strong>Location:</strong> Menlo Park (CA), US
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item nude-showcase" href="/work/nude">
    <img src="/www/img/showcase/logo-nude.svg" alt="Nude logo">
    <p>
      We make saving for your first home more simple. So whether you’re at square one, or already on your way, we can help you get your keys in record time.
    </p>
    <p>
      <strong>Project Date:</strong> 2020
      <br />
      <strong>Design:</strong> Motion Graphics
      <br />
      <strong>Location:</strong> Glasgow, Scotland
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item thriva-showcase" href="/work/thrivahealth">
    <img src="/www/img/showcase/logo-thriva-health.svg" alt="Thriva Health logo">
    <p>
      Our blood tests give you health insights, actionable support, and GP advice. Find out what’s happening inside your body from the comfort of your home.
    </p>
    <p>
      <strong>Project Date:</strong> 2020
      <br />
      <strong>Design:</strong> Motion Graphics
      <br />
      <strong>Location:</strong> London, England
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item blackdove-showcase" href="/work/blackdove">
    <img src="/www/img/showcase/logo-blackdove.svg" alt="Blackdove logo">
    <p>
      Blackdove is on a mission to connect the world in a shared art experience. Art can now be viewed in an authentic way by a global audience.
    </p>
    <p>
      <strong>Project Date:</strong> 2016-2019
      <br />
      <strong>Design:</strong> All
      <br />
      <strong>Location:</strong> Miami (FL), US
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item donny-showcase" href="/work/donny">
    <img src="/www/img/showcase/logo-donny.svg" alt="Donny fund logo" >
    <p>
      Donny is a crowdfunding for software platform. It’s a concept to get funding by your community and get feedback from your user-base.
    </p>
    <p>
      <strong>Project Date:</strong> 2019
      <br />
      <strong>Design:</strong> All (personal project)
      <br />
      <strong>Location:</strong> The Netherlands
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item sock-showcase" href="/work/sock">
    <img src="/www/img/showcase/logo-sock.svg" alt="Sock secure lock logo">
    <p>
      This React Native app let's you save your images securly and privately on your mobile phone. We've created this project within 1 month.
    </p>
    <p>
      <strong>Project Date:</strong> 2018
      <br />
      <strong>Design:</strong> All (personal project)
      <br />
      <strong>Location:</strong> The Netherlands
    </p>
    <span class="btn-02 transition">Continue reading</span>
  </div>
</div>