<div class="showcase">
  <a class="showcase-item blackdove-showcase" href="/work/blackdove">
    <img src="/www/img/showcase/logo-blackdove.svg" alt="Blackdove logo">
    <p>Blackdove is a digital art platform featuring a vast, growing collection of cutting-edge art by the world’s best artists. I've worked for this company for the past 3 years.</p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item donny-showcase" href="/work/donny">
    <img src="/www/img/showcase/logo-donny.svg" alt="Donny fund logo" >
    <p>Donny is a crowdfunding for software platform. It’s founded by me and my colleague Matti. It’s a concept to get funding by your community and get feedback from your user-base.</p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item sock-showcase" href="/work/sock">
    <img src="/www/img/showcase/logo-sock.svg" alt="Sock secure lock logo">
    <p>This React Native app let's you save your images securly on your mobile phone. It has been developed by my colleague Matti and designed by me. We published this app recently.</p>
    <span class="btn-02 transition">Continue reading</span>
  </div>
</div>
