<div class="showcase">
  <a class="showcase-item codecov-showcase" href="/work/codecov">
    <img src="/www/img/showcase/logo-codecov.svg" alt="Codecov logo">
    <p>Code coverage is one of the most important metrics companies rely on to ship healthier code, faster, and with less risk. I've worked for this company from 2019-2022.</p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item ngrok-showcase" href="/work/ngrok">
    <img src="/www/img/showcase/logo-ngrok.svg" alt="Codecov logo">
    <p>The programmable network edge that adds connectivity, security, and observability to your apps with no code changes. I've worked for this company from 2021-2022.</p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item blueprinttitle-showcase" href="/work/Blueprint Title">
    <img src="/www/img/showcase/logo-blueprinttitle.svg" alt="Codecov logo">
    <p>Bringing great ease to the real estate closing process through innovative technology, consistent processing, and competitive pricing.. I've worked for this company 2021.</p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item supergrain-showcase" href="/work/supergrain">
    <img src="/www/img/showcase/logo-supergrain.svg" alt="Codecov logo">
    <p>Customer engagement built on your data warehouse. Connect data, create rich segments, and engage customers across any channel. I've worked for this company 2021.</p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item blackdove-showcase" href="/work/blackdove">
    <img src="/www/img/showcase/logo-blackdove.svg" alt="Blackdove logo">
    <p>Blackdove is a digital art platform featuring a vast, growing collection of cutting-edge art by the world’s best artists. I've worked for this company from 2016-2019.</p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item donny-showcase" href="/work/donny">
    <img src="/www/img/showcase/logo-donny.svg" alt="Donny fund logo" >
    <p>Donny is a crowdfunding for software platform. It’s founded by me and my colleague Matti. It’s a concept to get funding by your community and get feedback from your user-base.</p>
    <span class="btn-02 transition">Continue reading</span>
  </a>
  <a class="showcase-item sock-showcase" href="/work/sock">
    <img src="/www/img/showcase/logo-sock.svg" alt="Sock secure lock logo">
    <p>This React Native app let's you save your images securly on your mobile phone. It has been developed by my colleague Matti and designed by me. We published this app recently.</p>
    <span class="btn-02 transition">Continue reading</span>
  </div>
</div>