* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include main-font;
	color: $color-base;
	line-height: $line-height-m;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;

	&.container--text {
		max-width: 800px;
	}
}

.logo {
	font-size: 2em;
    font-weight: 900;
    
    width: 40px;
    height: 40px;

    color: $color-white;
    border: solid 2px;
    
    display: inline-block;
    text-align: left;
}

.text-center {
	text-align: center;
}

.project-details {

	.project-details__banner {
		padding: $spacing-m 0;
		color: $color-white;

		background-color: $color-base;
		margin-bottom: $spacing-xxl;
	}

}

