* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include main-font;
	color: $color-base;
	line-height: $line-height-m;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.feature {
	overflow: hidden;
	padding: $spacing-xxl 0;

	&__device {
		max-width: 55%;
		padding-right: $spacing-xl;
		
		float: left;
		line-height: 0;

		margin-left: -3em;

		img {
			width: 100%;
		}
	}

	&__content {
		overflow: hidden;
		position: relative;
		top: 6em;
	}

	&__sub-title {
		margin-bottom: $spacing-m;
	}

}