* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include main-font;
	color: $color-base;
	line-height: $line-height-m;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;

	&.container--text {
		max-width: 800px;
	}
}

.page {
	width: 100%;
	background-color: white;
	@include transition(transform);
}

.page.page--project {
	position: fixed;
	transform: translateX(100%);
}

body.page-project-open {
	.page.page--overview {
		position: fixed;
		transform: translateX(-100%);
	}
	.page.page--project {
		position: relative;
		transform: translateX(0);
	}
}
