@font-face {
  font-family: 'sofia-pro';
  src: url(font-path('sofia-pro', 'sofia_pro_black_italic-webfont.woff2')) format('woff2'),
        url(font-path('sofia-pro', 'sofia_pro_black_italic-webfont.woff')) format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'sofia-pro';
  src: url(font-path('sofia-pro', 'sofia_pro_black-webfont.woff2')) format('woff2'),
        url(font-path('sofia-pro', 'sofia_pro_black-webfont.woff')) format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'sofia-pro';
  src: url(font-path('sofia-pro', 'sofia_pro_bold_italic-webfont.woff2')) format('woff2'),
        url(font-path('sofia-pro', 'sofia_pro_bold_italic-webfont.woff')) format('woff');
  font-weight: 700;
  font-style: italic;

}

@font-face {
  font-family: 'sofia-pro';
  src: url(font-path('sofia-pro', 'sofia_pro_bold-webfont.woff2')) format('woff2'),
        url(font-path('sofia-pro', 'sofia_pro_bold-webfont.woff')) format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'sofia-pro';
  src: url(font-path('sofia-pro', 'sofia_pro_italic-webfont.woff2')) format('woff2'),
        url(font-path('sofia-pro', 'sofia_pro_italic-webfont.woff')) format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'sofia-pro';
  src: url(font-path('sofia-pro', 'sofia_pro_regular-webfont.woff2')) format('woff2'),
        url(font-path('sofia-pro', 'sofia_pro_regular-webfont.woff')) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'sofia-pro';
  src: url(font-path('sofia-pro', 'sofia_pro_light_italic-webfont.woff2')) format('woff2'),
        url(font-path('sofia-pro', 'sofia_pro_light_italic-webfont.woff')) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sofia-pro';
  src: url(font-path('sofia-pro', 'sofia_pro_light-webfont.woff2')) format('woff2'),
        url(font-path('sofia-pro', 'sofia_pro_light-webfont.woff')) format('woff');
  font-weight: 400;
  font-style: normal;
}