.transition {
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:hover {
		-webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
    }
}

.transition-opacity {
	-webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
	
	&:hover {
		-webkit-transition: opacity 0.3s ease-out;
	    -moz-transition: opacity 0.3s ease-out;
	    -o-transition: opacity 0.3s ease-out;
	    transition: opacity 0.3s ease-out;
	}
}


.recognition {
	padding: 120px 0 0;

	.recognitions {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		overflow: hidden;
		padding-top: 10px;
		text-align: center;
		max-width: 800px;
		width: 100%;

		a {
			border-bottom: none; 
		}
		
		.creative-market-logo {
			padding-top: 10px;
			margin: 0 51px 0 30px;
			opacity: 0.5;
			overflow: visible;
			width: 120px;

			&:hover {
				fill: #8CA853;
				opacity: 1;
			}
		}

		.tnw-t500 {
			margin: 0 30px;
			opacity: 0.5;
			width: 100px;

			&:hover {
				fill: #FF4422;
				opacity: 1;
			}
		}
	}
}

.clients {
	padding: 50px 0 100px;

	a {
		border-bottom: none; 
	}

	.client-logo {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		overflow: hidden;
		padding-top: 20px;
		text-align: center;
		max-width: 800px;
		width: 100%;

		img {
			margin: 0 22px;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		.blackdove-logo {
			padding-top: 28px; 
			width: 130px;
		}

		.rtl-logo {
			padding-top: 20px; 
			width: 60px;
		}

		.thyssenkrupp-logo {
			width: 80px;
		}
		
		.mondelez-logo {
			padding-top: 22px;
			width: 100px;
		}
		
		.jlg-logo {
			padding-top: 20px;
			width: 80px;
		}
		
		.ansell-logo {
			padding-top: 22px;
			width: 80px;
		}
	}
}