::selection {
	background: rgba($color-accent, 1);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: $weight-primary-medium;
	margin-bottom: $spacing-s;
	line-height: $line-height-s;

	&.h--no-spacing {
		margin-bottom: 0;
	}

	&.h--weight-light {
		font-weight: $weight-primary;
	}

	&.h--accent {
		color: $color-accent;
	}
}
h1 {
	font-size: 3.55em;
	font-weight: $weight-primary-bold;
}
h2 {
	font-size: 3.05em;
}
h3 {
	font-size: 2.5em;
}
h4 {
	font-size: 2.02em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.25em;
}

a {
	color: $color-base;
	text-decoration: none;
	border-bottom: $border-style 1px $color-base;
}

p {
	margin-bottom: $spacing-m;

	&.p--big {
		font-size: 1.5em;
		line-height: $line-height-l;
	}
}

u {
	text-decoration: none;
	border-bottom: $border-style 5px $color-accent;
	display: inline-block;
}

img {
	&.img--faded {
		@extend %el-faded;

		&.img--faded--visible {
			@extend %el-faded--visible;
		}
	}
}

blockquote {
	width: 100%;
	max-width: 800px;

	margin-left: auto;
	margin-right: auto;

	div {
		font-size: 2.5em;
		font-style: italic;

		line-height: $line-height-s;
		margin-bottom: $spacing-s;

		&:before {
			content: '“';
		}

		&:after {
			content: '”';
		}
	}	

	cite {
		font-size: $size-m;
		padding-top: $spacing-l;

		&:before {
			content: '- ';
		}
	}

	&.blockquote--faded {
		@extend %el-faded;
		transform: translateX(-$spacing-m);

		&.blockquote--faded--visible {
			@extend %el-faded--visible;
			transform: translateX(0);
		}
	}
}