$color-base: #000000;
$color-white: #fff;
$color-accent: #FFD300;


$family-primary: 'sofia-pro', Helvetica, Arial, sans-serif;


$weight-primary: 300;
$weight-primary-regular: 400;
$weight-primary-medium: 700;
$weight-primary-bold: 900;


$size-m: 16px;


$line-height-s: 1.2em;
$line-height-m: 1.5em;
$line-height-l: 1.8em;


$spacing-s: .5em;
$spacing-m: 1em;
$spacing-l: 2em;
$spacing-xl: 3em;
$spacing-xxl: 5em;


$transition-duration: .3s;
$transition-timing: ease;