.feature {
	overflow: hidden;
	margin-bottom: $spacing-xxl;
	padding-top: $spacing-xxl;

	@media all and (max-height: 1050px){
		margin-bottom: $spacing-xl;
		padding-top: $spacing-xl;
	}

	&__device {
		width: 50%;
		padding-right: $spacing-xl;
		
		float: left;
		line-height: 0;

		img {
			width: 100%;
		}

		@include screen-xs-max {
			width: 100%;
			float: none;
		}
	}

	&__content {
		max-width: 50%;
		overflow: hidden;
		position: relative;

		@include screen-xs-max {
			width: 100%;
			max-width: 100%;
		}
	}

	&__title {
		line-height: 1em;

		&:first-letter {
			@extend u;
		}
	}

	&__sub-title {
		margin-bottom: $spacing-m;
	}

	&.feature--reversed {
		.feature__device {
			float: right;
			padding-right: 0;
			padding-left: $spacing-xl;
		}
		.feature__content {
			float: left;
		}
	}

	&.feature--iphone {
		padding-top: 0;

		.feature__device {
			width: 500px;
			height: 680px;
			margin-left: -3em;

			position: relative;
			top: 40px;

			@extend %el-faded;
			transform: translateX(40px) rotate(10deg);
			transform-origin: 100% 100%;

			img {
				position: absolute;
				transform-origin: 100% 100%;

				&:first-child {
					@include transition(transform, $transition-duration-l);
					transform: rotate(0deg);				
				}
			}
		}
		.feature__content {
			top: 7em;
		}

		&.feature--onscreen .feature__device {
			@extend %el-faded--visible;
			transform: translateX(0) rotate(0);

			img {
				&:first-child {
					transform: rotate(-10deg);				
				}
			}
		}
	}
	
	&.feature--laptop {
		.feature__device {
			width: 800px;
			height: 370px;
			margin-right: -12.5em;

			position: relative;

			@include screen-xs-max {
				width: 100%;
				margin-right: 0;
			}

			img {
				position: absolute;

				@extend %el-faded;
				transform: translateX(180px);

				&:first-child {
					max-width: 620px;
					transition: transform $transition-duration-l, opacity .5s;
				}

				&:last-child {
					max-width: 470px;
					bottom: 0;
					right: 0;

					transition: transform $transition-duration-l, opacity .5s;
					transition-delay: .1s;
				}
			}
		}

		&.feature--onscreen .feature__device img {
			@extend %el-faded--visible;
		}
	}

	&.feature--ipad {
		margin-bottom: 0;
		
		.feature__device {
			width: 700px;
			margin-left: -14.5em;

			@extend %el-faded;
			transform: rotate(-10deg) translateX(-100px);
			transform-origin: 0 100%;
		}

		.feature__content {
			left: 4em;
		}

		&.feature--onscreen .feature__device {
			@extend %el-faded--visible;
			transform: rotate(0) translateX(0);
		}
	}

	&.feature--iphone-vertical {
		.feature__device {
			width: 550px;
			height: 600px;

			position: relative;

			img {
				width: auto;
				height: auto;
				position: absolute;

				&:first-child {
					max-width: 300px;
					right: 100px;
					z-index: 1;

					opacity: 0;
					transform: translateX(-15px);

					transition: transform $transition-duration-l, opacity .5s;
				}

				&:last-child {
					max-width: 300px;
					max-height: 560px;
					top: 45px;

					opacity: 0;
					transform: translateX(40px);

					transition: transform $transition-duration-l, opacity .5s;
					transition-delay: $transition-duration-l / 3;
				}

				@include screen-xs-max {
					float: none;
					margin: 0;
				}
			}
		}
		.feature__content {
			top: 8em;

			@include screen-xs-max {
				top: 0;
			}
		}

		&.feature--onscreen .feature__device img {
			&:first-child {
				opacity: 1;
				transform: translateX(0);
			}
			&:last-child {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}

}