.image-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: 99;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
  opacity: 0;
  @include transition(all, $transition-duration--fast);
  cursor: pointer;
}

.image-modal--is-visible {
  visibility: visible;
  opacity: 1;
}

.image-modal__img {
  width: 100%;
  max-width: 800px;
  padding: $spacing-xl;
  margin: 0 auto;
  border-radius: 70px;
  transform: translateY(50px);
  @include transition(all, $transition-duration--fast);

  .image-modal--is-visible & {
    transform: translateY(0);
  }
}
