.container.menu2 {
	padding-bottom: 25px;
}

.hero.hero2 {
	height: 20px;
}

.logo-sub {
	padding-top: 50px;
	padding-bottom: 30px;
	width: 100%;
}

.portfolio-area {
	margin-top: 180px;

	.filters {
		text-align: center;
		margin-top: 50px;
		padding-bottom: 40px;

		ul li {
			background-color: #F3F3F3;
			border-radius: 50px;
			color: #222;
			cursor: pointer;
			display: inline-block;
			font-weight: 500;
			list-style: none;
			margin: 0px 7px 10px;
			padding: 12px 20px 10px;
			position: relative;
			text-transform: uppercase;

			&:hover {
				background-color: #DEDEE1;
			}
		}
	}

	h1 {
		padding-top: 30px;
		line-height: 0.5em;
	}
}

.portfolio-area .filters ul li.active {
    color: black;
    background-color: $color-accent;
	transform: scale(1.05);
	transition: all .14s ease-in-out;
}

.row.grid {
	text-align: center;
	margin-bottom: 200px;
	width: 100%;

	.single-portfolio {
		height: 500px;
		padding: 20px;
		width: 33%;

		.item {
			max-height: 410px;
			max-width: 340px;
			overflow: hidden;

			img {
				border-radius: 10px;
				width: 100%;
			}

			a {
				border: none;
			}
		}

		h4 {
			font-size:1em;
			line-height: 0.5em;
			padding-top: 20px;
		}

		.cat {
			font-size: 0.9em;
		}
	}
}