.seymour {
	position: relative;
	height: 94px;
	display: flex;
  justify-content: flex-end;
	flex-direction: column;
	margin-bottom: $spacing-s;

	&__overlay {
		position: relative;
		z-index: 1;
		margin-left: -125px;
		margin-bottom: 0;
	}

	&__img {
		height: 94px;
		width: 125px;
		
		position: absolute;
		top: 0;
		left: 43%;
    margin-left: 170px;
		
		border-bottom: solid 5px $color-accent;
		z-index: 1;

		&:after,
		&:before {
			content: '';

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&:before {
			background-image: url(/www/img/seymour.png);
			background-size: 100%;
		}

		&:after {
			opacity: 0;
			background-image: url(/www/img/seymour-small-repeat.gif);
			background-size: 100%;
		}

		&:hover, &:active, &:focus {
			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
	}
}