* {
  box-sizing: border-box;
}

.slider {
    width: 100%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;

  video {
  	margin-top: -60px;
  }
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
	cursor: grab;
	transition: all ease-in-out .3s;
	opacity: .8;
	outline: none;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.slickin-slide {
	margin-bottom: 50px;
	padding-bottom: 130px;
	margin-top: 30px;
	z-index: 2;

	&::after {
	    content: "";
	    position: absolute;
	    width: 100%;
	    background-color: #ededed;
	    height: 92%;
	    left: 0;
	    bottom: 0;
	    z-index: -1;
	}
}

.slick-list {
	margin-bottom: 20px;

	img {
		border-radius: 10px;
		max-height: 570px;
		margin-bottom: 10px;
		width: auto;
	}
}

button.slick-prev, button.slick-next {
	background-color: black;
	bottom: 4%;
	border-radius: 50%;
	left: 50%;
	top: initial;
	transform: translate(0, 0%);
}

section .slick-dots li.slick-active button:before {
	opacity: 1;
}

button.slick-next:hover:before, button.slick-prev:hover:before {
    background-color: $color-accent;
    border-radius: 50%;
    color: black;
    padding: 8px;
    transition: 0.1s;
}

button.slick-prev:hover, button.slick-prev:focus, button.slick-next:hover, button.slick-next:focus {
	color: $color-accent;
	background-color: black;
	transition: 0.1s;
}

button.slick-prev, {
	margin-top: 10px;
	margin-left: -60px;
	width: 50px;
	height: 50px;
}

button.slick-next {
	margin-top: 10px;
	margin-right: -60px;
	width: 50px;
	height: 50px;
}

button.slick-prev:before, button.slick-next:before {
	color: $color-accent;
	font-size: 35px;
	transition: 0.1s;
}

ul.slick-dots {
	margin-bottom: 134px; 

	li button:before {
		font-size: 30px;
		margin-top: 10px;
	}
}