.story {
	margin-top: $spacing-xxl;

	img, p,
	blockquote,
	&__banner,
	&__img-group {
		margin-bottom: $spacing-xxl;

		@include screen-xs-max {
			margin-bottom: $spacing-xl;
		}
	}

	img {
		width: 100%;
	}

	&__img-group {
		overflow: hidden;

		&__img {
			width: 50%;
			height: 100%;

			overflow: hidden;
			float: left;

			img {
				width: 100%;
				margin-bottom: 0;
			}

			&:first-child {
				padding-right: $spacing-m;

				@include screen-xs-max {
					margin-bottom: $spacing-xl;
				}
			}
			&:last-child {
				padding-left: $spacing-m;
			}

			@include screen-xs-max {
				width: 100%;
				float: none;
				padding: 0 !important;
			}
		}
	}

	&__banner {
		padding: $spacing-xxl 0;

		color: $color-white;
		background-color: $color-base;

		blockquote {
			margin-bottom: 0;
		}

		a {
			border-color: $color-accent;
			color: $color-white;
		}
	}
}