//BIG SCREEN DOWN TO TABLET
@include media($max-width: $xxl-container-width){
	.feature.feature--iphone-vertical .feature__device img {
		margin-right: 20px;
	}

	.feature.feature--laptop .feature__device {
		margin-right: -16.5em;
		margin-top: 2.5em;
		width: 750px;
	}
}


//BIG SCREEN DOWN TO TABLET
@include media($md-container-width, $xl-container-width){
	.feature.feature--iphone-vertical .feature__content {
	    top: 4em;
	}
}


//SMALL DESKTOP
@include media($lg-container-width, $xl-container-width){
	.feature.feature--laptop .feature__device {
		margin-top: 4.5em;
		width: 700px;
	}
}


//TABLET
@include media($md-container-width, $lg-container-width){
	.feature.feature--iphone-vertical {
		padding-top: 150px;
	}

	.feature.feature--iphone-vertical .feature__device {
		width: 460px;

		img {
			float: left;
		    max-height: 550px;
		    margin-left: -40px;
		}
	}

	.feature.feature--iphone-vertical .feature__content {
		top: 1.4em;
		width: 70%;
	}

	.feature.feature--laptop .feature__device {
		margin-top: 6.5em;
		width: 650px;
	}
}

@include media($max-width: $lg-s-container-width){
	.feature.feature--iphone-vertical .feature__device {
		width: 360px;

		img {
			float: left;
		    max-height: 450px;
		    margin-left: -60px;
		    margin-top: 45px;
		}
	}

	.feature.feature--iphone-vertical .feature__content {
		top: 0em;
		max-width: 50%;
	}

	.feature.feature--laptop .feature__device {
		margin-top: 7.5em;
		width: 625px;
	}
}

//TABLET DOWN
@include media($max-width: $md-container-width){
	.feature.feature--iphone-vertical .feature__device {
		margin: 0 auto;
		text-align: center;
		width: 100%;

		img {
			float: none;
		    margin: 0 auto;
		}
	}

	.feature.feature--iphone-vertical .feature__content {
		top: 1em;
		max-width: 100%;
	}

	.feature.feature--laptop .feature__device {
		float: left;
		margin: 0 auto;
		min-width: 400px;
		padding:0px 0px 40px;
		width: 100%;
	}
}


//FABLET
@include media($sm-container-width, $md-container-width){

}


//MOBILE
@include media($max-width: $sm-container-width){

}

//MOBILE SMALL
@include media($max-width: $xs-container-width){
	.feature.feature--iphone-vertical .feature__device {
		img {
			min-width: 230px;
			width: 100%;
		}
	}
}