<%- partial('../_inc/project/layout/header', {
		title: 'Codecov use-case',
		description: 'Design System',
		img: 'https://robertvanhaaren.com/www/img/codecov-promo.jpg',
		slug: 'codecov',
		noIndex: true
	}) %>

<div class="container container--text container--push-top">
	<h1 class="h--no-spacing"><u>D</u>esign System</h1>
	<h4 class="feature__sub-title h--weight-light">Sketch</h4>

	<h4 class="feature__sub-title h--weight-light push-top--small">Use-case 3:</h4>
	<p class="p--big">
	<strong>Problem:</strong> Adjusting UI design elements and updating branding can bring: an entire cycle of developement, QA, iteration and the challenge of staying consistant. This could mean that scalability, maintainablity and staying on brand can be a difficult task for the developement team.    
	</p>
	<p class="p--big">That is why I started the initiative of implementing a design system to the codecov platform. Using a design system would fix the problems mentioned above.</p>
	<p class="p--big">We were using Sketch at the time and Sketch was just starting to kick-off its <a href="https://www.sketch.com/blog/2019/11/12/sketch-60-your-design-system-starts-here/" class="underline" target="_blank">design system features</a>. I added all the branding variables, title sizes, UI elements and colors. See a selection below.</p>
</div>

<section class="slickin-slide">
  <div>
    <img src="/../www/img/projects/codecov/design-system/1.png">
  </div>
  <div>
    <img src="/../www/img/projects/codecov/design-system/2.png">
  </div>
  <div>
    <img src="/../www/img/projects/codecov/design-system/3.png">
  </div>
  <div>
    <img src="/../www/img/projects/codecov/design-system/4.png">
  </div>
</section>

<div class="container container--text container--push-top">
	<p class="p--big"><strong>Research:</strong> Together with the developement team we started looking at verious options. We would need to pull all the elements from sketch inside an online environment with the use of <a href="https://spectrum.adobe.com/page/design-tokens/" target="_blank" class="underline">design tokens.</a></p>
	<p class="p--big">We looked into <a href="https://www.invisionapp.com/design-system-manager" target="_blank" class="underline">InVisions DSM</a> and <a href="https://diez.org/" target="_blank" class="underline">Diez.</a> We found out that DSM wouldn't actually export design tokens for us, it would only integrate into their own ecosystem and because of this we choose Diez. Diez also provided more engeneering flexibility.</p>
	<p class="p--big">
	<strong>Solution:</strong> Implementing a design system gave us: A centralized system which is accessible, usable and where you can collaberate on with different teams, (visual) consistancy to all our products, long term reduced building time, one source of truth and reduced design and development dept.
	</p>
	<br /><br />
	<div class="menu-content col-lg-10">
		<div class="title text-center">
      <h4><u>Another use-case</u></h4>
		</div>
	</div>
	<div class="showcase showcase-usecase">
	  <a class="showcase-item codecov-showcase" href="/work/ux">
	    <p class="use-case-title"><strong>Use-case 2:</strong></p> 
		<p>UX Top Navigation bar</p>
	    <span class="btn-02 transition">Start Reading</span>
	  </a>
	</div>
	<div class="text-center" style="margin-top: 30px;">
		<a href="/work/codecov" class="btn btn--big">
			Back to Codecov Article
		</a>
	</div>
</div>

<script src="/../www/js/work/jquery-2.2.4.min.js"></script>
  <script src="/../www/js/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
		$('.slickin-slide').slick({
		  dots: true,
		  infinite: true,
		  speed: 300,
		  slidesToShow: 1,
		  centerMode: true,
		  variableWidth: true
		});
    });
</script>

<%- partial('../_inc/layout/footer') %>