<%- partial('../_inc/project/layout/header', {
		title: 'Donny.fund',
		description: 'Crowdfunding for software',
		img: 'http://robertvanhaaren.com/www/img/bd-promo.jpg',
		slug: 'donny.fund'
	}) %>

<div class="container container--text container--push-top">
	<h1 class="h--no-spacing"><u>D</u>onny.fund</h1>
	<h4 class="feature__sub-title h--weight-light">Crowdfunding for software</h4>

	<p class="p--big">
		Me and my colleague <a href="https://vdweem.xyz/" target="_blank" class="underline">Matti</a> love working on side projects in our spare time. We created an app called <a href="https://play.google.com/store/apps/details?id=com.duxilio.sock" target="_blank" class="underline">Sock</a> (securely lock) which lets users store images securely, locally and password protected on their mobile phone. When releasing the app we knew we would have some monthly recurring costs for things like the server infrastructure. We wanted to keep our app completely free so creating a paid version wasn’t an option and in-app ads seemed like they would have too much of a negative impact on the user experience. One of the other ways to fund our efforts that  came to mind was crowdfunding. We looked for tools online that would help us crowdfund for our app but unfortunately  we couldn't find any. We figured we couldn’t be the only ones who need a tool like this and decided to build our own.
	</p>

	<p class="p--push">Brand & Design / Januari 2019 - Present</p>
</div>

<div class="container container--text">
	<h4 class="feature__sub-title h--weight-light">Defining Donnny.fund</h4>

	<p class="p--big">
		We made Donny.fund to allow ourselves and others to fund their apps using crowdfunding so they can keep their apps free and don’t have to rely on alternative less ideal business models like ads. When we started the build process the first thing we did is brainstorm and come up with some goals to define what <a href="https://donny.fund/" target="_blank" class="underline">Donny.fund</a> should enable people to do:
	</p>
	<ul>
		<li><p class="p--big ul-list">Have your community fund your project or feature.</p></li>
		<li><p class="p--big ul-list">Be flexible about how much is donated to keep the barrier to donate as low as possible.</p></li>
		<li><p class="p--big ul-list">Allow users to suggest new features that can be upvoted so makers get a good feel of what their community wants and how much they want it. This way Donny cannot just be used to fund projects and features but also to close the gap between creators and their users.</p></li>
	</ul>
</div>

<div class="container container--text push-top--medium">
	<h4 class="feature__sub-title h--weight-light">Coming up with a name</h4>

	<p class="p--big">
		To come up with the name we simply picked a few words out of our mind map: Donation, Money and Funding. You probably already see where this is going: we combined the words Don(ation) and (Mon)ny which became Donny and we discovered that there was a .fund domain available which we could use. And that's how the Donny.fund name came to be.
	</p>
</div>

<div class="container container--text push-top--medium">
	<h4 class="feature__sub-title h--weight-light">Look and Feel</h4>

	<p class="p--big">
		We went with <a href="https://graf1x.com/wp-content/uploads/2014/09/green-color-meaning.png" target="_blank" class="underline">green</a> as the primary color because of its relation to money. It also is generally associated with safety and growth, reliability and non-profit which makes it perfect for a donation platform. The entire product needed to feel light and open, allowing users to feel <a href="https://graf1x.com/wp-content/uploads/2014/09/gray-color-meaning.png" target="_blank" class="underline">safe</a> when donating to their favorite product, knowing it would help their creators to improve the product for them. That's why we came up with the following colors: backgrounds should be light or light grey to feel open, the texts would be blue grey and the accent colors should be green/blue turqoise. We also added a few more prominent colors for error/warning and info pop-ups.
	</p>
</div>
<div class="story">
	<div class="container">
		<%- partial('../_inc/project/img', {
			src: '../www/img/projects/donny.fund/donny-fund-colors.jpg',
			alt: ''
		}) %>
	</div>
</div>

<div class="container container--text push-top--small">
	<p class="p--big">
		We used <a href="https://fonts.google.com/specimen/Comfortaa?selection.family=Comfortaa:400,700" target="_blank" class="underline">Comfortaa</a> as our main font. It needed to feel friendly and modern so we went with this rounded sans-serif font. However we discovered that when we used this font for longer texts it wouldn't read well, so we had to add a secondary font for longer texts (<a href="https://donny.fund/sample" target="_blank" class="underline">Blog posts</a>). We decided to go for a serif font like <a href="https://medium.com/" target="_blank" class="underline">Medium</a> does for their articles (they would have done the research for it since articles are their main focus), when testing fonts on readability I decided to go with <a href="https://fonts.google.com/specimen/Noto+Serif?selection.family=Noto+Serif" target="_blank" class="underline">Noto Serif</a>.
	</p>
</div>

<div class="container container--text push-top--medium">
	<h4 class="feature__sub-title h--weight-light">For the creators</h4>

	<p class="p--big">
		Creators needed to be able to create features and assign a financial goal to them based on the cost involved in developing it. The community can then fund these features and when the goal has been reached it would be picked up for development. 
	</p>
	<p class="p--big">
		The community would also be able to leave feature suggestions and upvote features so that the creators know what features the community would like to see and to get a good sense of what features are in highest demand. Creators can then add a financial goal to a suggestion so it becomes ready for funding.
	</p>
</div>

<div class="container container--text push-top--medium">
	<h4 class="feature__sub-title h--weight-light">Donny Portal MVP</h4>

	<p class="p--big">
		After defining our brand and what our features included it was time to create the MVP. We created a <a href="https://donny.fund/register" target="_blank" class="underline">portal</a> for our creators where they can: add projects, features, a project logo, donation goals and oversee their incoming donations. To allow the community to donate money we needed a publicly available donation page for them on which they would be able to see all projects and features available for funding. When a creator adds a new project with features, the portal will automatically generate a <a href="https://donny.fund/matti-and-his-tests/my-great-first-project" target="_blank" class="underline">donation page</a> and give them a link which they can share with their community.
	</p>
</div>

<div class="container container--text push-top--medium">
	<h4 class="feature__sub-title h--weight-light">Picking a payment provider</h4>
	<p class="p--big">
		The one missing piece that we still had to decide on was which payment provider to use. We looked at different providers like <a href="https://stripe.com" target="_blank" class="underline">Stripe</a>, <a href="https://www.mollie.com/en/" target="_blank" class="underline">Mollie</a>, <a href="https://www.adyen.com/" target="_blank" class="underline">Adyen</a>, the one <a href="https://www.patreon.com/" target="_blank" class="underline">Patreon</a> is using and decided to go with Stripe as it allowed us to automatically pay our creators bi-weekly. Additionally, from an engineering standpoint the integration of Stripe would save us quite a bit of development time compared to some other providers. When comparing them on transaction fees, usability and flexibility stripe seemed to be the best fit as well.
	</p>
</div>

<div class="container container--text">
	<h4 style="text-align: center;" class="feature__sub-title h--weight-light push-top--small h--no-spacing">Donny.fund Designs</h4>
	<p style="text-align: center;">Some of the pages I worked on for the website and portal:</p>
</div>

<section class="slickin-slide push-top--small">
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-register.png">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-project.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-project-overview.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-project-details.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-empty-state-2.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-empty-state-1.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-email.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-blog.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny.fund-404.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-fund-share02.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-fund-share01.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-fund-share.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-fund-share-suggestions.jpg">
    </div>
</section>

<div class="container container--text push-top--medium">
	<h4 class="feature__sub-title h--weight-light">Takeaway</h4>

	<p class="p--big">
		We're currently close to finishing the MVP and couldn't be more excited to release it into the world very soon. We have a lot of ideas laying around for our next set of releases like creating widgets that allow our creators to ask for funding within their products and for which they can modify the branding, releasing a React Native app for creators to manage their projects and features that are currently open for funding.
</div>

<div class="container container--text">
	<h4 style="text-align: center;" class="feature__sub-title h--weight-light push-top--small h--no-spacing">More Donny.fund Designs</h4>
	<p style="text-align: center;">Some of the app and email pages I worked on</p>
</div>

<section class="slickin-slide push-top--small">
    <div>
      <img src="/../www/img/projects/donny.fund/donny-phone-00.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-phone-01.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-phone-02.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-phone-03.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-phone-04.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-phone-05.jpg">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-email-00.png">
    </div>
    <div>
      <img src="/../www/img/projects/donny.fund/donny-email-01.png">
    </div>
</section>

<div class="container">
	<div class="text-center push-top--medium">
		<div class="seymour">
			<h4 class="seymour__overlay">Wanna <u>see more?</u></h4>
			<div ontouchstart class="seymour__img"></div>
		</div>
		<%- partial('../_inc/showcase') %>
		<div class="text-center" style="margin-top: 30px;">
			<a href="/work" class="btn btn--big">
				Back to overview
			</a>
		</div>
	</div>
</div>

<script src="/../www/js/work/jquery-2.2.4.min.js"></script>
  <script src="/../www/js/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
		$('.slickin-slide').slick({
		  dots: true,
		  infinite: true,
		  speed: 300,
		  slidesToShow: 1,
		  centerMode: true,
		  variableWidth: true
		});
    });
</script>

<%- partial('../_inc/layout/footer') %>