<%- partial('../_inc/project/layout/header', {
		title: 'Codecov use-case',
		description: 'User Experience',
		img: 'https://robertvanhaaren.com/www/img/bd-promo.jpg',
		slug: 'codecov',
		noIndex: true
	}) %>

<div class="container container--text container--push-top">
	<h1 class="h--no-spacing"><u>T</u>op navigation bar</h1>
	<h4 class="feature__sub-title h--weight-light">User Experience</h4>

	<h4 class="feature__sub-title h--weight-light push-top--small">Use-case 2:</h4>
	<p class="p--big">
	The first thing I started doing when I joined Codecov was walking through the entire product and catch the most obvious UX flaws. 
	<br /><br />
	<strong>Problem:</strong> For instance Codecov's top navigation bar which behaved like <a href="https://www.smashingmagazine.com/2009/03/breadcrumbs-in-web-design-examples-and-best-practices/" title="" class="underline">breadcrumbs</a> but visually looked like it was just a normal functioning navigation bar (meaning that when you clicked on a menu item it would take you to a different page and the menu would always stay/look the same). Since this is unexpected behavior to a user they might get confused, since they expect it working like a normal functioning navigation bar because so many other websites do it this way <a href="https://lawsofux.com/jakobs-law/" target="_blank" class="underline">(Jakob's Law)</a>. I came up with a navigation bar design with interactions to solve this problem:</p>
</div>
<section class="slickin-slide">
    <div>
      <video width="960" height="1050" controls>
			<source src="/../www/img/projects/codecov/interactions/compare-page.mp4" type="video/mp4">
		</video>
    </div>
</section>
<div class="container container--text">
	<div class="text-center" style="margin-top: 60px; margin-bottom: 40px;">
		<a href="/../www/img/projects/codecov/top-nav/top-nav.pdf" class="btn btn--big" target="_blank">
			Functional Spec
		</a>
	</div>

	<p class="p--big">
	By adding chevrons to the top bar it's now indicating it are breadcrumbs, and by adding subtle animations the user can now visually see what is changing. By adding a hover over the breadcrumbs the user can easily select a different organisation, repository, etc and change the breadcrumb path for a better understanding how everything ties together. This is one of the UX items I worked on as an example.
	</p>
	<br /><br />
	<div class="showcase showcase-usecase">
	  <a class="showcase-item codecov-showcase" href="/work/accessibility">
	    <p class="use-case-title"><strong>Accessibility color blindness</strong></p> 
		<p>Use-case 1:</p>
	    <span class="btn-02 transition">Continue reading</span>
	  </a>
	</div>
	<div class="text-center" style="margin-top: 30px;">
		<a href="/work/codecov" class="btn btn--big" target="_blank">
			Back to Codecov
		</a>
	</div>
</div>

<script src="/../www/js/work/jquery-2.2.4.min.js"></script>
  <script src="/../www/js/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
		$('.slickin-slide').slick({
		  dots: true,
		  infinite: true,
		  speed: 300,
		  slidesToShow: 1,
		  centerMode: true,
		  variableWidth: true
		});
    });
</script>

<%- partial('../_inc/layout/footer') %>