<%- partial('../../layout/header', {
		meta: {
			title: title,
			description: description,
			img: img,
			url: 'https://robertvanhaaren.github.io/projects/'+slug,
			noIndex: true
		}
	}) %>

<header class="header-banner">
	<div class="container text-center">
		<a href="/" class="header-banner__btn btn transition">
			Back to overview
		</a>
		<div class="header-banner__logo">
			<%- partial('../../logo') %>
		</div>
	</div>
</header>