<div class="story__img-group">
	<% for(var i = 0; i < imgs.length; i++){ %>
		<div
			class="story__img-group__img img--faded"
			data-onscreen-toggle="img--faded--visible"
		>
			<img src="<%= imgs[i].src %>" alt="<%= imgs[i].alt %>"/>
		</div>
	<% } %>
</div>