<div class="story__banner">
	<div class="container">
		<blockquote
			class="blockquote--faded"
			data-onscreen-toggle="blockquote--faded--visible"
		>
			<div>
				<%= quote %>
			</div>
			<cite><%- cite %></cite>
		</blockquote>
	</div>
</div>